.navbar-dark .navbar-toggler {
  border: none;
}
.navbar-dark .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
.carousel-inner {
  height: 100%;
}
.carousel-fade .carousel-item img {
  height: 100%;
}
#navbar div:nth-child(1) {
  background-color: #111213 !important;
}
.sponsor:nth-child(24),
.sponsor:nth-child(25) {
  visibility: hidden;
}

.page-item.active .page-link {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.page-link {
  color: #aab4c3;
  background-color: #eeeeee;
}

.page-item.disabled .page-link {
  color: #aab4c3;
  background-color: #eeeeee;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}
.row.no-pad > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  background: yellow;
  font-weight: bold;
}
.mark,
mark {
  padding: 0;
}

.article:nth-child(6) {
  border-bottom: none;
}
